image: registry.gitlab.fpcomplete.com/fpco/default-build-image:17

cache:
  key: "$CI_BUILD_NAME"
  paths:
    - .stack-work/
    - .stack-root/
    - static/combined/

stages:
  - build
  - deploy

variables:
    STACK_ROOT: "${CI_PROJECT_DIR}/.stack-root"
    DEPLOYMENT_IMAGE: "${CI_REGISTRY_IMAGE}:${CI_BUILD_REF_SLUG}_${CI_PIPELINE_ID}"
    DEPLOYMENT_NAME: "stackage-server-${CI_BUILD_REF_SLUG}"
    DEPLOYMENT_APP: "${CI_ENVIRONMENT_SLUG}"

# This creates anchors for bits of script that are reused between builds
.anchors:
  # The KUBE_* variables are set by Gitlab's Kubernetes deployment service
  - &KUBELOGIN
    echo "$KUBE_CA_PEM" >"$HOME/ca.pem" &&
    kubectl config set-cluster cluster --server="$KUBE_URL" --certificate-authority="$HOME/ca.pem" &&
    kubectl config set-credentials cluster --token="$KUBE_TOKEN" && kubectl config set-context cluster --cluster=cluster --user=cluster --namespace="$KUBE_NAMESPACE" &&
    kubectl config use-context cluster
  - &KUBEAPPLY
    kubectl apply -f <(envsubst <etc/kube/service_template.yaml) &&
    kubectl apply -f <(envsubst <etc/kube/deployment_template.yaml) &&
    kubectl rollout status -f <(envsubst <etc/kube/deployment_template.yaml)

build:
  stage: build
  script:
    # Clear *_TOKEN variables during code build so that compile-time code can't access them
    - CI_BUILD_TOKEN="" KUBE_TOKEN="" PROD_KUBE_TOKEN="" PROD_DOCKER_PASSWORD="" etc/scripts/stage_docker.sh --install-ghc --test
    - docker build -t "${DEPLOYMENT_IMAGE}" etc/docker
    - docker login -u gitlab-ci-token -p "${CI_BUILD_TOKEN}" "${CI_REGISTRY}"
    - docker push "${DEPLOYMENT_IMAGE}"
    - |
      if [[ "$CI_BUILD_REF_NAME" == "master" ]]; then
        docker tag "${DEPLOYMENT_IMAGE}" "${CI_REGISTRY_IMAGE}:latest"
        docker push "${CI_REGISTRY_IMAGE}:latest"
      fi
      if [[ "$CI_BUILD_REF_NAME" == "ci-cron" ]]; then
        docker tag "${DEPLOYMENT_IMAGE}" "${CI_REGISTRY_IMAGE}:ci-cron"
        docker push "${CI_REGISTRY_IMAGE}:ci-cron"
      fi

deploy_prod:
  stage: deploy
  only:
    - master
  environment:
    name: stackage-server-prod
    url: https://www.stackage.org/
  variables:
    DEPLOYMENT_NAME: "stackage-server-prod"
    CRON_DEPLOYMENT_NAME: "stackage-server-cron-prod"
    PROD_DEPLOYMENT_IMAGE: "fpco/stackage-server-prod:${CI_BUILD_REF_SLUG}_${CI_PIPELINE_ID}"
  script:
    - export
      KUBE_CA_PEM="$PROD_KUBE_CA_PEM"
      KUBE_URL="$PROD_KUBE_URL"
      KUBE_TOKEN="$PROD_KUBE_TOKEN"
      KUBE_NAMESPACE="$PROD_KUBE_NAMESPACE"
    - *KUBELOGIN
    - docker login -u "$PROD_DOCKER_USERNAME" -p "${PROD_DOCKER_PASSWORD}"
    - docker tag "$DEPLOYMENT_IMAGE" "$PROD_DEPLOYMENT_IMAGE"
    - docker push "$PROD_DEPLOYMENT_IMAGE"
    - docker tag "$DEPLOYMENT_IMAGE" "fpco/stackage-server-prod:latest"
    - docker push "fpco/stackage-server-prod:latest"
    - kubectl set image "deployment/$DEPLOYMENT_NAME" stackage-server="$PROD_DEPLOYMENT_IMAGE"
    - kubectl set image "deployment/$CRON_DEPLOYMENT_NAME" stackage-server-cron="$PROD_DEPLOYMENT_IMAGE"
    - kubectl rollout status "deployment/$DEPLOYMENT_NAME"
    - kubectl rollout status "deployment/$CRON_DEPLOYMENT_NAME"

deploy_ci:
  stage: deploy
  only:
    - ci
  environment:
    name: stackage-server-ci
    url: https://ci.stackage.org/
  variables:
    DEPLOYMENT_NAME: "stackage-server-ci"
    CRON_DEPLOYMENT_NAME: "stackage-server-cron-ci"
  script:
    - *KUBELOGIN
    - kubectl set image "deployment/$DEPLOYMENT_NAME" stackage-server="$DEPLOYMENT_IMAGE"
    - kubectl set image "deployment/$CRON_DEPLOYMENT_NAME" stackage-server-cron="$DEPLOYMENT_IMAGE"
    - kubectl rollout status "deployment/$DEPLOYMENT_NAME"
    - kubectl rollout status "deployment/$CRON_DEPLOYMENT_NAME"
